<router-outlet></router-outlet>

<app-center-select-modal></app-center-select-modal>

<!-- <footer class="fixed-bottom page-footer grey lighten-2 center-on-small-only pt-0 wow fadeInUp">
  Copyright
  <div class="footer-copyright">
    <div class="container-fluid">
      <span>&copy; {{project.copyright.year}} {{project.copyright.owner}}:
        <a [href]="project.copyright.website"> {{project.copyright.websiteName}} </a>
      </span>
      &nbsp;
      <span>Developed by
        <a href="https://www.actiobp.com/">Actio P&amp;T</a>
      </span>
    </div>
  </div>
  /.Copyright
</footer> -->
